<div class="container__side">

</div>
<div class="container__main">
  <div class="container__head navbar">
    <div class="navbar-inner">
      <button class="btn"><i class="icon-list"></i></button>
    </div>
  </div>
  <div class="container__screen">
    {screen}
  </div>
</div>
