<h4>Инструменты:</h4>
<div class="items">
  {{#each tools}}
    <div class="item" data-href="#moves/{{this.id}}">{{this.name}} - {{movesAmount}} - <a href="#tool/{{this.id}}">редактировать</a></div>
  {{/each}}
</div>

<a class="btn btn-mini" href="#tool/new">Добавить</a>