<div class="move__track-layer">
  <form action="#">
    <div class="js-slider">
      <div class="js-slider__el"></div>
      <span class="badge"><span>0</span> минут</span>
      <button class="btn btn-mini pull-right" type="submit">Сохранить</button>
      <input type="hidden" name="timeTracked" id="timeTracked" value="0"/>
    </div>
  </form>
</div>